[Interface]
PrivateKey = {somethinghere}
Address = 172.16.0.2
DNS = 8.8.8.8, 8.8.4.4	
MTU = 1280
S1 = 0
S2 = 0
S3 = 0
S4 = 0
Jc = 4
Jmin = 40
Jmax = 70
H1 = 1
H2 = 2
H3 = 3
H4 = 4
I1 = {somethinghere}
I2 = {somethinghere}

[Peer]
PublicKey = {somethinghere}
AllowedIPs = 0.0.0.0/0
Endpoint = engage.cloudflareclient.com:880
PersistentKeepalive = 25
